/* Override this file to add your own CSS styling. */

.article-metadata-authors {
  overflow: hidden;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #404040;
  /* color: {{ .Get "link" }}; */
}

.article-metadata-publication {
  overflow: hidden;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #404040;
  /* color: {{ .Get "link" }}; */
}

.dark .article-metadata-publication {
  color: #fff;
}

.dark .article-metadata-award {
  overflow: hidden;
  font-size: 16px;
  letter-spacing: 0.03em;
  font-weight: bold;
  color: rgb(240, 62, 48);
}

.article-metadata-award {
  overflow: hidden;
  font-size: 16px;
  letter-spacing: 0.03em;
  font-weight: bold;
  color: rgb(178, 34, 34);
}
